.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}

.user {
  display: flex;
  gap: 20px;
  align-items: center;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.status {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: var(--text);
}

.pending {
  background-color: #f7cb7375;
}

.done {
  background-color: #afd6ee74;
}

.cancelled {
  background-color: #f7737375;
}
